.main-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    padding: 0;
}

.view-toggle {
    margin: 0;
    margin-right: 30px;
}

.view-toggle button {
    font-size: 20px;
    background-color: aliceblue;
    border-radius: 8px;
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 2px solid black;
}

.view-toggle button:hover {
    background-color: #dfe7ee;
    transition: background-color 0.15s ease-in-out;
}

.view-toggle button.active {
    color: #0055A4;
    border: 2px solid #0055A4;
}

.directory-card-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 20px;
}

.card {
    margin: 0;
    background-color: aliceblue;
    border-radius: 8px;
    border: 2px solid gray;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    background: aliceblue;
    margin: 20px;
    border-radius: 8px;
    border: 2px solid gray;
}

.row h3 {
    width: 33%;
}

.row .lower-content {
    flex: 1;
}

.row .right-content {
    display: flex;
    width: 100%;
}

.row .right-content .left {
    width: 50%;
    text-align: center;
}

.row .right-content .right {
    text-align: right;
    width: 50%;
}

.card h3 {
    text-align: center;
    background-color: #0055A4;
    color: #FFF8E1;
    height: 50px;
    line-height: 50px;
    margin: 0;
    border-radius: 6px 6px 0 0;
}

.card img {
    width: 150px;
    height: 150px;
    border-radius: 8px;
    margin: 20px;
}

.card .lower-content {
    display: flex;
    align-items: center;
}

.card .right-content {
    display: flex;
    flex-direction: column;
}

.card .right-content p, .right-content a {
    margin: 10px;
    font-size: 15px;
}

.row .hide-in-list {
    display: none;
}

@media screen and (min-width: 768px) {
    .directory-card-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}