h1 {
    margin-top: 20px;
}

.gridarea {
    display: grid;
    grid-template-areas:
        "card"
        "card"
        "card"
        "card"
        "card"
        "card"
        "card"
        "card";
    gap: 20px;
    margin: 20px;
}

.interest {
    background: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 2px solid black;
    position: relative;
}

.interest h2 {
    background-color: #0055A4;
    color: #FFF8E1;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

figure {
    width: 100%;
    margin: 0;
    transition: transform 0.3s ease;
}

figure img {
    aspect-ratio: 3 / 2;
    margin: 20px;
    width: calc(100% - 40px);
    border-radius: 8px;
    border: 2px solid black;
}

address {
    text-align: center;
    margin: 10px;
}

p {
    margin: 10px;
}

.interest button {
    margin: 20px;
    margin-top: auto;
    width: 150px;
    height: 30px;
    border-radius: 8px;
    border: 2px solid black;
    background: rgb(220, 238, 255);
    grid-area: card;
    font: inherit;
    transition: background 0.15s ease-in-out;
}

.interest button:hover {
    background: rgb(208, 220, 233);
}

.visitor-message {
    background: aliceblue;
    position: fixed;
    left: 30px;
    bottom: 30px;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 8px;
    border: 2px solid black;
}

.close {
    font-size: 12px;
    display: block;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 5px;
}

@media screen and (min-width: 641px) {
    .gridarea {
        grid-template-areas:
            "card card"
            "card card"
            "card card"
            "card card";
    }

    figure:hover {
        transform: scale(1.03);
    }
}

@media screen and (min-width: 1025px) {
    .gridarea {
        grid-template-areas:
            "card card card card"
            "card card card card";
    }
}